<% include partials/header %>

<div class="container-fluid">
    <!-- BREADCRUMB NAVIGATION -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Laptop</li>
            <li class="breadcrumb-item active" aria-current="page"><%= laptop.name %>></li>
        </ol>
    </nav>
    <!--FIRST ROW -->
    <div class="row">
        <!-- FIRST COL - PC AND MINI SLIDER -->
        <div class="container d-flex align-items-center">
            <div class="col-6 ">
            <div id="pc-preview-container" class="container">
                <!--Carousel Wrapper-->
                <div id="pc-preview" class="carousel slide carousel-fade carousel-thumbnails" >
                    <!--Slides-->
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="<%= laptop.image %>" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="<%= laptop.image %>" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="<%= laptop.image %>" alt="Third slide">
                        </div>
                    </div>
                    <!--/.Slides-->
                </div>
            </div>
        </div>
        <!-- SECOND COL PRICES -->
        <div class="col-6 justify-content">
            <h3 class="card-title"><%= laptop.name %></h3>
            <p class="card-text"><span class="text-muted"><s>$<%= laptop.original %></s></span>  <span>SAVE $<%= laptop.savings %></span></p>
            <p class="h2 text-danger">$<%= laptop.price %></p>
        </div>
        </div>
    </div>
    <!-- ROW -->
    <div class="row mt-5">
        <div class="col-12">
            <!--  CAROUSEL INDICATORS -->
            <ol class="carousel-indicators">
                <li data-target="#pc-preview" data-slide-to="0" class="active mx-2"><img class="d-block w-100" src="<%= laptop.image %>"
                    class="img-fluid"></li>
                <li data-target="#pc-preview" data-slide-to="1" class="mx-2"><img class="d-block w-100" src="<%= laptop.image %>"
                    class="img-fluid"></li>
                <li data-target="#pc-preview" data-slide-to="2" class="mx-2"><img class="d-block w-100" src="<%= laptop.image %>"
                    class="img-fluid"></li>
            </ol>
        </div>
    </div>
</div> 
    <!-- SECOND ROW -->
    <div class="row">
        <!--COL - CARD WITH NAVIGATION - FEATURES AND SPECS -->
        <div class="col mb-4">
            <div class="card text-center">
                <div class="card-header">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Overview</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#specifications" role="tab" aria-controls="specifications" aria-selected="false">Specifications</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content" id="myTabContent">
                        <!-- FIRST TAB / OVERVIEW -->
                        <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                            What's Included
                            <ul>
                                <li>3-cell battery</li>
                                <li>Dell 11.6" Chromebook - Intel Celeron - 4GB Memory - 16GB eMMC Flash Memory</li>
                                <li>Power adapter</li>
                            </ul>
                            Ratings & Reviews
                            Overall Customer Rating:
                        </div>
                        <!-- SECOND TAB / SPECIFICATIONS-->
                        <div class="tab-pane fade" id="specifications" role="tabpanel" aria-labelledby="specifications-tab">
                                Specifications
                                Laptop Category
                                Category 	Laptops
                                Memory Module Specifications
                                RAM Capacity 	8GB
                                RAM Type 	DDR4
                                Monitor Specifications
                                Screen Size 	14"
                                Maximum Resolution 	1920 x 1080
                                Display Type 	LED FHD UWVA 400 nit Anti-Glare
                                Processor Specifications
                                Processor Brand 	AMD
                                Processor Class 	Ryzen 7
                                Processor Type 	Quad-Core
                                Processor Speed 	2.2GHz
                                Processor Number 	2700U
                                Notebook Specifications
                                Lifestyle 	Business
                                Condition 	New
                                Operating Systems 	Windows 10 Professional 64-Bit
                                Hard Disk Drive Specifications
                                Capacity 	256GB
                                Drive Types 	SSD
                                Graphics Specifications
                                GPU/VPU 	AMD Radeon Vega Graphics
                                Optical Drive Specifications
                                Optical Drive 	None
                                Audio Specifications
                                Audio Description 	Bang & Olufsen, dual stereo speakers, integrated multi array microphone
                                Media Ports
                                USB Ports (Total) 	1 USB 3.1
                                2x USB-C
                                LAN Ports 	1 - RJ-45
                                Audio Out Jacks 	1 Headphone out/Microphone-in combo jack
                                HDMI Ports 	1
                                Communications
                                Interface Type 	Gigabit Ethernet
                                Protocols 	Intel 8265 AC 2x2 WiFi + Bluetooth 4.2
                                Dimensions
                                Width 	12.84"
                                Height 	0.71"
                                Depth 	9.22"
                                Weight 	3.37 lbs
                                Mouse Specifications
                                Mouse Type 	ClickPad with Multi-Touch
                                Keyboard Specifications
                                Keyboard Type 	HP Premium Collaboration Keyboard spill resistant with drain
                                Battery
                                Battery Type 	3-Cell Lithium-ion
                                Color
                                Color 	Silver
                                Webcam
                                Integrated Webcam 	Yes
                                Webcam Resolution 	720p
                                Webcam Features 	HD Webcam
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<% include partials/footer %>